.sse-layout {
  width: 100%;
}
.sse-layout-sider {
  width: 240px;
  position: absolute;
  height: 100%;
}

.sse-layout-content {
  margin-left: 240px ;
}
.sse-layout-breadcrumb {
  margin: 7px 0 -17px 24px;
}
.sse-layout-container {
  margin: 50px 30px;
}
